
:root{
    --paleViolet: hsl(276, 100%, 81%);
    --moderateViolet: hsl(276, 55%, 52%);
    --desaturatedDarkViolet: hsl(271, 15%, 43%);
    --grayishBlue: hsl(206, 6%, 79%);
    --veryDarkSaturatedViolet: hsl(271, 36%, 24%);
    --darkGrayshViolet: hsl(270, 7%, 64%);
    --linearGradientBg: linear-gradient( to left,  hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    --white: hsl(0, 0%, 100%);
    --lightGrayishViolet: hsl(270, 20%, 96%);
    --submitButtonBg: hsl(271, 36%, 24%);
    --radioButtonOutline: hsl(289, 100%, 72%);
    --fontSize:16px;
    --fontFamily: 'Rubik', sans-serif;
    --normalFontWeight:400;
    --mediumFontWeight:500;
    --boldFontWEight:700
}
body{
    background-color: var(--lightGrayishViolet);
    font-family: var(--fontFamily);
    padding:0px;
    margin:0px;
    font-size: var(--fontSize);
    line-height: 1.5em;
}
.mainWrapper{
    width:100%;
    height:90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textWrapper{
    font-size:var(--fontSize);
    color:var(--darkGrayshViolet);
    width:40%;
}
.textWrapperTitle{
    font-size:2.5em;
    font-weight: var(--boldFontWEight);
    color:var(--veryDarkSaturatedViolet)
}
.textWrapper p:not(.textWrapperTitle){
    width:70%;
}
.contentWrapper{
    height: 100%;
    width:60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    padding-right:10%;
}
.phoneWrapper{
    width:20em;
    height:70vh;
    background-color: var(--grayishBlue);
    border-radius: 33px;
    position: relative;
    border:15px solid var(--white);
    box-shadow: 1px 0px 5px rgba(128, 128, 128, 0.422);
}
.phoneUser{
   background-image:var(--linearGradientBg); 
 position: absolute;
 top:0px;
 left:0px;
 width:100%;
 height:5.5em;
 border-top-left-radius: 20px;
 border-top-right-radius: 20px;
 border-bottom-left-radius: 5px;
 border-bottom-right-radius: 5px;
}
.phoneUser::after{
    content:"";
    position: absolute;
    top:0px;
    margin-left:20%;
    background-color: var(--white);
    width:60%;
    height:1.5em;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.phoneUserInnerWrapper{
    color:var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 10px;
    position: absolute;
    bottom: 0px;
    width:90%;
}
.userProfile img{
    border-radius: 50%;
    width:40px;
    border:2px solid var(--white);
    margin-right:10px;
}
.userProfile{
    display: flex;
    align-items: center;
    justify-content: center;
}
.userProfileInnerWrapper{
    margin-bottom: 15px;
}
.userProfileInnerWrapper p{
    height:5px;
}
.userProfileInnerWrapper p:last-of-type{
    color:rgba(255, 255, 255, 0.604);
    font-size: 12px;
}